<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cosmetology Website</title>
  <link rel="stylesheet" href="./app.component.css">
</head>
<body>
  <div class="navbar">
    <a href="http://localhost:4200">Home</a>
    <a href="#contact">Contact</a>
    <a href="#about">About (О нас)</a>
    <a href="#services">Services and Pricing (Сервис и цены)</a>
    <a href="http://localhost:4200/login" class="login-button">Login</a>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="description">
    <div class="left-desc">
      <h2>About Us</h2>
      <p>Welcome to our Cosmetology Clinic! We specialize in providing a range of innovative skincare and beauty treatments tailored to enhance your natural radiance. Our team of certified professionals is dedicated to delivering personalized care and expertise in a serene and welcoming environment. From rejuvenating facials to advanced skincare solutions, we prioritize your comfort and satisfaction, ensuring you leave feeling confident and revitalized.</p>
    </div>
    <div class="right-desc">
      <h2>Про нас</h2>
      <p>"Добро пожаловать в нашу Косметологическую Клинику! Мы специализируемся на предоставлении инновационных процедур ухода за кожей и красоты, созданных для подчеркивания вашей естественной красоты. Наша команда сертифицированных специалистов посвящена предоставлению персонализированного ухода и экспертных услуг в спокойной и уютной обстановке. От омолаживающих процедур для лица до передовых методов ухода за кожей, мы придаем особое значение вашему комфорту и удов
